* {
  font-size: 1.1rem;
}

button,
button:active,
button:focus {
  outline: none;
}

table th,
table td {
  width: 33.33%;
}

table {
  border-bottom: 2px solid #454d55;
}

.overlay .card {
  width: 33%;
}

.cart,
.cart-over {
  max-width: 50px;
  border: 0;
  background: transparent;
  top: 0;
  right: 2%;
}

.cart {
  right: 5%;
}

.cart-group>li {
  list-style: none;
  position: relative;
}

.cart-group>li:hover {
  background:#f6f6f6;
}

.score {
  position: absolute;
  top: -13%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: gray;
  width: 100%;
  height: 100%;
  opacity: 0.99;
}

.delItem {
  position:absolute;
  top:0;
  right:0;
  border: 0;
  background: transparent;
  max-width: 30px;
}
